@media only screen and (max-width: 1250px) {
}
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1199px) {
  .dk-footer-box-info {
    width: 120% !important;
    top: -35% !important;
  } 
  .footer-awarad p {
    margin-top: 110% !important; }
    .word-1{
      height: 60vh !important;
    }
}
@media (max-width: 991px) {
  .dk-footer-box-info {
    top: -35% !important;
    width: 100% !important;
    margin-left: -1.5% !important;
  }
  .footer-awarad p {
    margin-top: 40% !important; }
    
.word-1{
  width: 100% !important;
  height: 55vh !important;
}
.word-2{
  width: 100% !important;
}

.word{
  height: 100% !important;
}
.container-1{
  height: 15% !important;
}
.first{
  height: 85vh !important;
}

}
@media (max-width: 767px) {
  .dk-footer-box-info {
    top: -30% !important;
  }
  .footer-awarad p {
    margin-top: 60% !important; }
  .contact-box{
    width: 100% !important;
    margin-left: -0.5% !important;
  }  
.contact-box-1{
  width: 100% !important;
}
.container-1{
  height: 13% !important;
}
}
@media (max-width: 640px) {
  .about-text-1{
    border: solid black;
    width:100% !important ;
    color : white;
  }
  .contact-button{
    margin-bottom: 10% !important;
    margin-left: 20% !important ;
  }
}@media (max-width: 600px) {
  .word-1{
      height: 40vh !important;
    }
    
.first{
  height: 55vh !important;
}
}@media (max-width: 570px) {

  .first{
    height: 45vh !important;
  }
}
@media (max-width: 525px) {
  .dk-footer-box-info {
    top: -35% !important;
  }
  .footer-awarad p {
    margin-top: 60% !important; }
    .word-1{
      height: 40vh !important;
    }
}
@media (max-width: 499px) {
  .dk-footer-box-info {
    top: -30% !important;
  }
  .footer-awarad p {
    margin-top: 65% !important; }
}
@media (max-width: 470px) {
  .dk-footer-box-info {
    top: -40% !important;
  }
  .footer-awarad p {
    margin-top: 75% !important; }
    .first{
      height: 35vh !important;
    }
}
@media (max-width: 417px) {
  .dk-footer-box-info {
    top: -40% !important;
  }
  .footer-awarad p {
    margin-top: 85% !important; }
}
@media (max-width: 395px) {
  .dk-footer-box-info {
    top: -40% !important;
  }
  .footer-awarad p {
    margin-top: 95% !important; }
}
@media (max-width: 350px) {
  .dk-footer-box-info {
    top: -40% !important;
  }
  .footer-awarad p {
    margin-top: 105% !important; }
}
@media (max-width: 330px) {
  .dk-footer-box-info {
    top: -30% !important;
  }
  .footer-awarad p {
    margin-top: 140% !important; }
    .word-1{
      height: 30vh !important;
    }
    .first{
      height: 25vh !important;
    }
}
@media (max-width: 300px) {
  .dk-footer-box-info {
    top: -25% !important;
  }
  .footer-awarad p {
    margin-top: 155% !important; }
}
@media (max-height: 560px) {

  .menu-2{
    margin-top: 10%;
  }


}
@media (max-height: 512px) {

  

}