/*                                    C h i p - l e v e l                    S e r v i c e            c s s           */


.chip-box{
    background-color: black;
    

} 
 
.chip-p{
    background-color: black;
    color: white;
    font-family: "Times New Roman" sans-serif;
    font-weight:400;
    width: 80%;
    margin-left: 11%;
    padding-top: 1%;
    

}




/*                                    C h i p - l e v e l                    S e r v i c e            c s s           */


