
/*                                       D A T A     H T M L                                   CSS                                                             */

.data-over{
  display: inline-block;
  height: 100%;
}
.data-main{
    background: #000;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .data-image-1{
    height: 150%;
  }
  .centered {
    position: absolute;
    float: left;
    transform: translate(-50%, -50%);
    
  }
  .top-left {
    position: absolute;
    top: 180px;
    left: 16px;
    font-size: 4vw;
    font-weight: 700;
    background-color: #878787aa;
    text-align: center;
    color: rgba(0, 0, 0, 0.793);
  }
  
  
  .data-recovery{
    border: solid black;
    background: black;
  }
  .data-text{
    font-weight: 700;
    color: white;
    font-size: 5.5vw;
  }
  .data-content{
    text-align: center;
    background-color: black;
  }
  .word{
    display: inline-block;
    color: white;
    background: #000;  
    height: 100%;
  }
.word-1:after{
  content: "";
  display: table;
  clear: both;
}
  .word-1{
    display: block;
    width: 50%;
    color : white;
    text-align: center;
    float: left;
  }
  .word-2{  
    display: inline-block;
    width: 50%;
    height: 100%;
    color : white;
    text-align: center;
    padding-left: 1%;
    padding-top: 3%;
  }
  .word-2 p{ 
    font-size: 88%;
  }
  .data-image-2{
    width: 100%;
    height: 100%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*                  C L O S E D          D A T A     H T M L                                   CSS                                                             */
  