/*              w   e  b   p  a  g  e       c s s   */
.first-web{
  background-color: #000;
  width: 100% !important;
  height: 95vh !important;
  margin-top: 7%;
}
/*              w   e  b   p  a  g  e       c s s   */